.btnAuthHover {
    transition: 0.5s;
}

.btnAuthHover:hover {
    color: #fff;
    background-color: green;
    transition: 0.5s;
    cursor: pointer;
}

.btnHomeHover {
    transition: 0.5s;
}

.btnHomeHover:hover {
    color:rgba(238,180,98,1);
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.methodDeleteHover {
    transition: 0.5s;
    font-size: 1.25em;
    margin-left: 1em;
}

.methodDeleteHover:hover {
    transition: 0.5s;
    font-size: 1.5em;
    cursor: pointer;
}

.btnDeleteHover {
    transition: 0.5s;
}

.btnDeleteHover:hover {
    color:#fff;
    background-color:red;
    transition: 0.5s;
    cursor: pointer;
}